#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_es_latin_american.h"

/ {
    combos {
        compatible = "zmk,combos";

        borrar {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 17>;
        };

        borrar2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <13 12>;
        };

        alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <31 30>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <32 33>;
        };

        bluetooth {
            bindings = <&lt 3 DEL>;
            key-positions = <9 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ES_Q               &kp ES_W  &kp ES_E  &kp ES_R             &kp ES_T       &kp ES_Y     &kp ES_U  &kp ES_I      &kp ES_O    &kp ES_P
&mt LEFT_SHIFT ES_A    &kp ES_S  &kp ES_D  &kp ES_F             &kp ES_G       &kp ES_H     &kp ES_J  &kp ES_K      &kp ES_L    &mt LEFT_SHIFT ES_N_TILDE
&mt LEFT_CONTROL ES_Z  &kp ES_X  &kp ES_C  &kp ES_V             &kp ES_B       &kp ES_N     &kp ES_M  &kp ES_COMMA  &kp ES_DOT  &mt LEFT_CONTROL ES_SLASH
                                           &mt LSHIFT ES_SPACE  &lt 1 SPACE    &lt 4 SPACE  &lt 2 AT
            >;
        };

        symbols_layer {
            bindings = <
&kp ES_LPAR      &kp ES_RPAR  &kp ES_LBKT  &kp ES_RBKT  &kp ES_LBRC       &kp ES_RBRC  &kp ES_MINUS  &kp ES_UNDER  &kp ES_ASTRK  &kp ES_AMPS
&kp ES_QUESTION  &kp ES_EXCL  &kp ES_DQT   &kp ES_APOS  &kp ES_COLON      &kp ES_SEMI  &kp ES_COMMA  &kp ES_DOT    &kp ES_SLASH  &kp ES_DLLR
&trans           &trans       &trans       &trans       &kp ES_PERCENT    &trans       &trans        &trans        &trans        &trans
                                           &trans       &trans            &trans       &trans
            >;
        };

        layer_2 {
            bindings = <
&kp N1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&trans  &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans        &trans        &trans        &trans
                                    &trans        &trans          &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans
                                            &trans        &trans          &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
